--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3
-- Dumped by pg_dump version 16.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: restaurant_cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_cart (
    id bigint NOT NULL,
    person_id bigint NOT NULL,
    total_price integer NOT NULL,
    restaurant_id bigint,
    CONSTRAINT restaurant_cart_total_price_check CHECK ((total_price >= 0))
);


ALTER TABLE public.restaurant_cart OWNER TO postgres;

--
-- Name: restaurant_cart_dishes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_cart_dishes (
    id bigint NOT NULL,
    cart_id bigint NOT NULL,
    dish_id bigint NOT NULL
);


ALTER TABLE public.restaurant_cart_dishes OWNER TO postgres;

--
-- Name: restaurant_cart_dishes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_cart_dishes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_cart_dishes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurant_cart_drinks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_cart_drinks (
    id bigint NOT NULL,
    cart_id bigint NOT NULL,
    drink_id bigint NOT NULL
);


ALTER TABLE public.restaurant_cart_drinks OWNER TO postgres;

--
-- Name: restaurant_cart_drinks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_cart_drinks ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_cart_drinks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurant_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurant_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_category (
    id bigint NOT NULL,
    category character varying(150) NOT NULL
);


ALTER TABLE public.restaurant_category OWNER TO postgres;

--
-- Name: restaurant_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurant_dish; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_dish (
    id bigint NOT NULL,
    name character varying(150) NOT NULL,
    photo character varying(100),
    price integer NOT NULL,
    type_id bigint,
    made_of text NOT NULL,
    amount character varying(150),
    category_id bigint,
    CONSTRAINT restaurant_dish_price_check CHECK ((price >= 0))
);


ALTER TABLE public.restaurant_dish OWNER TO postgres;

--
-- Name: restaurant_dish_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_dish ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_dish_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurant_drink; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_drink (
    id bigint NOT NULL,
    name character varying(150) NOT NULL,
    photo character varying(100),
    price integer NOT NULL,
    made_of text,
    type character varying(150) NOT NULL,
    amount character varying(150),
    CONSTRAINT restaurant_drink_price_check CHECK ((price >= 0))
);


ALTER TABLE public.restaurant_drink OWNER TO postgres;

--
-- Name: restaurant_drink_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_drink ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_drink_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurant_restaurant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_restaurant (
    id bigint NOT NULL,
    name character varying(150) NOT NULL,
    description text,
    photo_1 character varying(100),
    average_bill integer NOT NULL,
    tables integer NOT NULL,
    address character varying(150),
    rating integer NOT NULL,
    owner_id bigint NOT NULL,
    plan character varying(100),
    viewbox character varying(150),
    photo_2 character varying(100),
    CONSTRAINT restaurant_restaurant_tables_check CHECK ((tables >= 0))
);


ALTER TABLE public.restaurant_restaurant OWNER TO postgres;

--
-- Name: restaurant_restaurant_dishes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_restaurant_dishes (
    id bigint NOT NULL,
    restaurant_id bigint NOT NULL,
    dish_id bigint NOT NULL
);


ALTER TABLE public.restaurant_restaurant_dishes OWNER TO postgres;

--
-- Name: restaurant_restaurant_dishes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_restaurant_dishes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_restaurant_dishes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurant_restaurant_drinks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_restaurant_drinks (
    id bigint NOT NULL,
    restaurant_id bigint NOT NULL,
    drink_id bigint NOT NULL
);


ALTER TABLE public.restaurant_restaurant_drinks OWNER TO postgres;

--
-- Name: restaurant_restaurant_drinks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_restaurant_drinks ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_restaurant_drinks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurant_restaurant_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_restaurant ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_restaurant_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurant_restaurant_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_restaurant_type (
    id bigint NOT NULL,
    restaurant_id bigint NOT NULL,
    type_id bigint NOT NULL
);


ALTER TABLE public.restaurant_restaurant_type OWNER TO postgres;

--
-- Name: restaurant_restaurant_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_restaurant_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_restaurant_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurant_review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_review (
    id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    positive_or_not character varying(100) NOT NULL,
    person_id bigint NOT NULL,
    restaurant_id bigint NOT NULL,
    title character varying(100) NOT NULL
);


ALTER TABLE public.restaurant_review OWNER TO postgres;

--
-- Name: restaurant_review_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurant_table; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_table (
    id bigint NOT NULL,
    number integer NOT NULL,
    is_reserved boolean NOT NULL,
    reserved_by_id bigint,
    restaurant_id bigint NOT NULL,
    reserved_time timestamp with time zone,
    d character varying(250),
    CONSTRAINT restaurant_table_number_check CHECK ((number >= 0))
);


ALTER TABLE public.restaurant_table OWNER TO postgres;

--
-- Name: restaurant_table_dishes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_table_dishes (
    id bigint NOT NULL,
    table_id bigint NOT NULL,
    dish_id bigint NOT NULL
);


ALTER TABLE public.restaurant_table_dishes OWNER TO postgres;

--
-- Name: restaurant_table_dishes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_table_dishes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_table_dishes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurant_table_drinks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_table_drinks (
    id bigint NOT NULL,
    table_id bigint NOT NULL,
    drink_id bigint NOT NULL
);


ALTER TABLE public.restaurant_table_drinks OWNER TO postgres;

--
-- Name: restaurant_table_drinks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_table_drinks ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_table_drinks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurant_table_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_table ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_table_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: restaurant_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_type (
    id bigint NOT NULL,
    type character varying(150) NOT NULL
);


ALTER TABLE public.restaurant_type OWNER TO postgres;

--
-- Name: restaurant_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.restaurant_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.restaurant_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_auth_person; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_auth_person (
    id bigint NOT NULL,
    name character varying(150) NOT NULL,
    photo character varying(100),
    email character varying(150),
    number character varying(30),
    user_id integer NOT NULL,
    tg_id character varying(150),
    tg_code integer,
    CONSTRAINT user_auth_person_tg_code_check CHECK ((tg_code >= 0))
);


ALTER TABLE public.user_auth_person OWNER TO postgres;

--
-- Name: user_auth_person_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_auth_person ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_auth_person_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	user_auth	person
8	restaurant	dish
9	restaurant	restaurant
10	restaurant	type
11	restaurant	table
12	restaurant	review
13	restaurant	drink
14	restaurant	category
15	restaurant	cart
16	payments	payment
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: restaurant_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_cart (id, person_id, total_price, restaurant_id) FROM stdin;
18	18	258	2
19	19	0	\N
1	1	141548	2
\.


--
-- Data for Name: restaurant_cart_dishes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_cart_dishes (id, cart_id, dish_id) FROM stdin;
13	1	3
14	1	1
17	1	2
20	18	2
23	18	1
\.


--
-- Data for Name: restaurant_cart_drinks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_cart_drinks (id, cart_id, drink_id) FROM stdin;
4	18	1
\.


--
-- Data for Name: restaurant_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_category (id, category) FROM stdin;
1	qwert
\.


--
-- Data for Name: restaurant_dish; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_dish (id, name, photo, price, type_id, made_of, amount, category_id) FROM stdin;
1	asdasd	dishes/╨Ъ╨░╨┐╤Г╤З╨╕╨╜╨╛_╨║╨╛╤Д╨╡_eXXN9pU.png	12	1	dk	12	1
2	╨Ъ╨╛╤Д╨╡	dishes/2.jpg	215	1	dk	312	1
3	eaawfew	dishes/pexels-pixabay-260922.jpg	141321	1	dk	51123	1
4	awfawef	dishes/pexels-evonics-1058277.jpg	412	1	dk	41213	1
5	awdefsdtfy	dishes/2_5tGAUxm.jpg	1241	1	dk	3112	1
6	trbgvsefdw		141	\N	dk	\N	\N
7	rgetrbtf		412	\N	dk	\N	\N
\.


--
-- Data for Name: restaurant_drink; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_drink (id, name, photo, price, made_of, type, amount) FROM stdin;
1	asdasd	drinks/╨С╨╡╨╖_╨╜╨░╨╖╨▓╨░╨╜╨╕╤П_2.jpg	31	asddas	hot	31
\.


--
-- Data for Name: restaurant_restaurant; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: restaurant_restaurant_dishes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_restaurant_dishes (id, restaurant_id, dish_id) FROM stdin;
2	2	1
3	2	2
4	2	3
5	2	4
6	2	5
7	2	6
8	2	7
\.


--
-- Data for Name: restaurant_restaurant_drinks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_restaurant_drinks (id, restaurant_id, drink_id) FROM stdin;
2	2	1
\.


--
-- Data for Name: restaurant_restaurant_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_restaurant_type (id, restaurant_id, type_id) FROM stdin;
2	2	1
\.


--
-- Data for Name: restaurant_review; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_review (id, content, created_at, positive_or_not, person_id, restaurant_id, title) FROM stdin;
\.


--
-- Data for Name: restaurant_table; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: restaurant_table_dishes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_table_dishes (id, table_id, dish_id) FROM stdin;
2	12	1
4	2	2
5	10	3
\.


--
-- Data for Name: restaurant_table_drinks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_table_drinks (id, table_id, drink_id) FROM stdin;
2	12	1
4	2	1
5	10	1
\.


--
-- Data for Name: restaurant_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_type (id, type) FROM stdin;
1	asdasd
\.


--
-- Data for Name: user_auth_person; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_auth_person (id, name, photo, email, number, user_id, tg_id, tg_code) FROM stdin;
1	ABOBA	persons/guts_TvWXoyH.jpg	qwert121@mail.ru	1212	1	\N	6710
19	qwe	persons/griffith_5dwuU7p.jpg	qwe@mail.ru	123123	20	\N	4968
18	amantur	persons/griffith_qMD92KK.jpg	ormonov@mail.ru	+996555555555	19	\N	7666
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 64, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 20, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 89, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 16, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 49, true);


--
-- Name: restaurant_cart_dishes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_cart_dishes_id_seq', 23, true);


--
-- Name: restaurant_cart_drinks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_cart_drinks_id_seq', 4, true);


--
-- Name: restaurant_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_cart_id_seq', 21, true);


--
-- Name: restaurant_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_category_id_seq', 1, true);


--
-- Name: restaurant_dish_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_dish_id_seq', 7, true);


--
-- Name: restaurant_drink_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_drink_id_seq', 1, true);


--
-- Name: restaurant_restaurant_dishes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_restaurant_dishes_id_seq', 8, true);


--
-- Name: restaurant_restaurant_drinks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_restaurant_drinks_id_seq', 2, true);


--
-- Name: restaurant_restaurant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_restaurant_id_seq', 2, true);


--
-- Name: restaurant_restaurant_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_restaurant_type_id_seq', 2, true);


--
-- Name: restaurant_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_review_id_seq', 1, true);


--
-- Name: restaurant_table_dishes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_table_dishes_id_seq', 5, true);


--
-- Name: restaurant_table_drinks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_table_drinks_id_seq', 5, true);


--
-- Name: restaurant_table_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_table_id_seq', 12, true);


--
-- Name: restaurant_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_type_id_seq', 1, true);


--
-- Name: user_auth_person_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_auth_person_id_seq', 19, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: restaurant_cart_dishes restaurant_cart_dishes_cart_id_dish_id_6e695911_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_cart_dishes
    ADD CONSTRAINT restaurant_cart_dishes_cart_id_dish_id_6e695911_uniq UNIQUE (cart_id, dish_id);


--
-- Name: restaurant_cart_dishes restaurant_cart_dishes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_cart_dishes
    ADD CONSTRAINT restaurant_cart_dishes_pkey PRIMARY KEY (id);


--
-- Name: restaurant_cart_drinks restaurant_cart_drinks_cart_id_drink_id_0de8b370_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_cart_drinks
    ADD CONSTRAINT restaurant_cart_drinks_cart_id_drink_id_0de8b370_uniq UNIQUE (cart_id, drink_id);


--
-- Name: restaurant_cart_drinks restaurant_cart_drinks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_cart_drinks
    ADD CONSTRAINT restaurant_cart_drinks_pkey PRIMARY KEY (id);


--
-- Name: restaurant_cart restaurant_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_cart
    ADD CONSTRAINT restaurant_cart_pkey PRIMARY KEY (id);


--
-- Name: restaurant_category restaurant_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_category
    ADD CONSTRAINT restaurant_category_pkey PRIMARY KEY (id);


--
-- Name: restaurant_dish restaurant_dish_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_dish
    ADD CONSTRAINT restaurant_dish_pkey PRIMARY KEY (id);


--
-- Name: restaurant_drink restaurant_drink_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_drink
    ADD CONSTRAINT restaurant_drink_pkey PRIMARY KEY (id);


--
-- Name: restaurant_restaurant_dishes restaurant_restaurant_di_restaurant_id_dish_id_cb34e2fe_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_restaurant_dishes
    ADD CONSTRAINT restaurant_restaurant_di_restaurant_id_dish_id_cb34e2fe_uniq UNIQUE (restaurant_id, dish_id);


--
-- Name: restaurant_restaurant_dishes restaurant_restaurant_dishes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_restaurant_dishes
    ADD CONSTRAINT restaurant_restaurant_dishes_pkey PRIMARY KEY (id);


--
-- Name: restaurant_restaurant_drinks restaurant_restaurant_dr_restaurant_id_drink_id_2448dce7_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_restaurant_drinks
    ADD CONSTRAINT restaurant_restaurant_dr_restaurant_id_drink_id_2448dce7_uniq UNIQUE (restaurant_id, drink_id);


--
-- Name: restaurant_restaurant_drinks restaurant_restaurant_drinks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_restaurant_drinks
    ADD CONSTRAINT restaurant_restaurant_drinks_pkey PRIMARY KEY (id);


--
-- Name: restaurant_restaurant restaurant_restaurant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_restaurant
    ADD CONSTRAINT restaurant_restaurant_pkey PRIMARY KEY (id);


--
-- Name: restaurant_restaurant_type restaurant_restaurant_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_restaurant_type
    ADD CONSTRAINT restaurant_restaurant_type_pkey PRIMARY KEY (id);


--
-- Name: restaurant_restaurant_type restaurant_restaurant_type_restaurant_id_type_id_6936b9c7_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_restaurant_type
    ADD CONSTRAINT restaurant_restaurant_type_restaurant_id_type_id_6936b9c7_uniq UNIQUE (restaurant_id, type_id);


--
-- Name: restaurant_review restaurant_review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_review
    ADD CONSTRAINT restaurant_review_pkey PRIMARY KEY (id);


--
-- Name: restaurant_table_dishes restaurant_table_dishes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_table_dishes
    ADD CONSTRAINT restaurant_table_dishes_pkey PRIMARY KEY (id);


--
-- Name: restaurant_table_dishes restaurant_table_dishes_table_id_dish_id_df5e9f1f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_table_dishes
    ADD CONSTRAINT restaurant_table_dishes_table_id_dish_id_df5e9f1f_uniq UNIQUE (table_id, dish_id);


--
-- Name: restaurant_table_drinks restaurant_table_drinks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_table_drinks
    ADD CONSTRAINT restaurant_table_drinks_pkey PRIMARY KEY (id);


--
-- Name: restaurant_table_drinks restaurant_table_drinks_table_id_drink_id_984572e4_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_table_drinks
    ADD CONSTRAINT restaurant_table_drinks_table_id_drink_id_984572e4_uniq UNIQUE (table_id, drink_id);


--
-- Name: restaurant_table restaurant_table_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_table
    ADD CONSTRAINT restaurant_table_pkey PRIMARY KEY (id);


--
-- Name: restaurant_type restaurant_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_type
    ADD CONSTRAINT restaurant_type_pkey PRIMARY KEY (id);


--
-- Name: user_auth_person user_auth_person_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_auth_person
    ADD CONSTRAINT user_auth_person_pkey PRIMARY KEY (id);


--
-- Name: user_auth_person user_auth_person_tg_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_auth_person
    ADD CONSTRAINT user_auth_person_tg_code_key UNIQUE (tg_code);


--
-- Name: user_auth_person user_auth_person_tg_id_1af34d90_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_auth_person
    ADD CONSTRAINT user_auth_person_tg_id_1af34d90_uniq UNIQUE (tg_id);


--
-- Name: user_auth_person user_auth_person_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_auth_person
    ADD CONSTRAINT user_auth_person_user_id_key UNIQUE (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: restaurant_cart_dishes_cart_id_40f60732; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_cart_dishes_cart_id_40f60732 ON public.restaurant_cart_dishes USING btree (cart_id);


--
-- Name: restaurant_cart_dishes_dish_id_fa9b81d8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_cart_dishes_dish_id_fa9b81d8 ON public.restaurant_cart_dishes USING btree (dish_id);


--
-- Name: restaurant_cart_drinks_cart_id_c9982440; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_cart_drinks_cart_id_c9982440 ON public.restaurant_cart_drinks USING btree (cart_id);


--
-- Name: restaurant_cart_drinks_drink_id_025c7395; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_cart_drinks_drink_id_025c7395 ON public.restaurant_cart_drinks USING btree (drink_id);


--
-- Name: restaurant_cart_person_id_dde0ad1f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_cart_person_id_dde0ad1f ON public.restaurant_cart USING btree (person_id);


--
-- Name: restaurant_cart_restaurant_id_07f533ef; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_cart_restaurant_id_07f533ef ON public.restaurant_cart USING btree (restaurant_id);


--
-- Name: restaurant_dish_category_id_1593a4a0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_dish_category_id_1593a4a0 ON public.restaurant_dish USING btree (category_id);


--
-- Name: restaurant_dish_type_id_33d44042; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_dish_type_id_33d44042 ON public.restaurant_dish USING btree (type_id);


--
-- Name: restaurant_restaurant_dishes_dish_id_e17d3a2d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_restaurant_dishes_dish_id_e17d3a2d ON public.restaurant_restaurant_dishes USING btree (dish_id);


--
-- Name: restaurant_restaurant_dishes_restaurant_id_f1d24d0b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_restaurant_dishes_restaurant_id_f1d24d0b ON public.restaurant_restaurant_dishes USING btree (restaurant_id);


--
-- Name: restaurant_restaurant_drinks_drink_id_8f59c200; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_restaurant_drinks_drink_id_8f59c200 ON public.restaurant_restaurant_drinks USING btree (drink_id);


--
-- Name: restaurant_restaurant_drinks_restaurant_id_1071ccd1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_restaurant_drinks_restaurant_id_1071ccd1 ON public.restaurant_restaurant_drinks USING btree (restaurant_id);


--
-- Name: restaurant_restaurant_owner_id_353b5692; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_restaurant_owner_id_353b5692 ON public.restaurant_restaurant USING btree (owner_id);


--
-- Name: restaurant_restaurant_type_restaurant_id_8ded7e64; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_restaurant_type_restaurant_id_8ded7e64 ON public.restaurant_restaurant_type USING btree (restaurant_id);


--
-- Name: restaurant_restaurant_type_type_id_7a478c35; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_restaurant_type_type_id_7a478c35 ON public.restaurant_restaurant_type USING btree (type_id);


--
-- Name: restaurant_review_person_id_3a94d99d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_review_person_id_3a94d99d ON public.restaurant_review USING btree (person_id);


--
-- Name: restaurant_review_restaurant_id_17f6ac65; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_review_restaurant_id_17f6ac65 ON public.restaurant_review USING btree (restaurant_id);


--
-- Name: restaurant_table_dishes_dish_id_a68049d1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_table_dishes_dish_id_a68049d1 ON public.restaurant_table_dishes USING btree (dish_id);


--
-- Name: restaurant_table_dishes_table_id_9fb89f4a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_table_dishes_table_id_9fb89f4a ON public.restaurant_table_dishes USING btree (table_id);


--
-- Name: restaurant_table_drinks_drink_id_017067c6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_table_drinks_drink_id_017067c6 ON public.restaurant_table_drinks USING btree (drink_id);


--
-- Name: restaurant_table_drinks_table_id_05cdac61; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_table_drinks_table_id_05cdac61 ON public.restaurant_table_drinks USING btree (table_id);


--
-- Name: restaurant_table_reserved_by_id_64652316; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_table_reserved_by_id_64652316 ON public.restaurant_table USING btree (reserved_by_id);


--
-- Name: restaurant_table_restaurant_id_191a0ef2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restaurant_table_restaurant_id_191a0ef2 ON public.restaurant_table USING btree (restaurant_id);


--
-- Name: user_auth_person_tg_id_1af34d90_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_auth_person_tg_id_1af34d90_like ON public.user_auth_person USING btree (tg_id varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_cart_dishes restaurant_cart_dishes_cart_id_40f60732_fk_restaurant_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_cart_dishes
    ADD CONSTRAINT restaurant_cart_dishes_cart_id_40f60732_fk_restaurant_cart_id FOREIGN KEY (cart_id) REFERENCES public.restaurant_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_cart_dishes restaurant_cart_dishes_dish_id_fa9b81d8_fk_restaurant_dish_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_cart_dishes
    ADD CONSTRAINT restaurant_cart_dishes_dish_id_fa9b81d8_fk_restaurant_dish_id FOREIGN KEY (dish_id) REFERENCES public.restaurant_dish(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_cart_drinks restaurant_cart_drinks_cart_id_c9982440_fk_restaurant_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_cart_drinks
    ADD CONSTRAINT restaurant_cart_drinks_cart_id_c9982440_fk_restaurant_cart_id FOREIGN KEY (cart_id) REFERENCES public.restaurant_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_cart_drinks restaurant_cart_drinks_drink_id_025c7395_fk_restaurant_drink_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_cart_drinks
    ADD CONSTRAINT restaurant_cart_drinks_drink_id_025c7395_fk_restaurant_drink_id FOREIGN KEY (drink_id) REFERENCES public.restaurant_drink(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_cart restaurant_cart_person_id_dde0ad1f_fk_user_auth_person_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_cart
    ADD CONSTRAINT restaurant_cart_person_id_dde0ad1f_fk_user_auth_person_id FOREIGN KEY (person_id) REFERENCES public.user_auth_person(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_cart restaurant_cart_restaurant_id_07f533ef_fk_restauran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_cart
    ADD CONSTRAINT restaurant_cart_restaurant_id_07f533ef_fk_restauran FOREIGN KEY (restaurant_id) REFERENCES public.restaurant_restaurant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_dish restaurant_dish_category_id_1593a4a0_fk_restaurant_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_dish
    ADD CONSTRAINT restaurant_dish_category_id_1593a4a0_fk_restaurant_category_id FOREIGN KEY (category_id) REFERENCES public.restaurant_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_dish restaurant_dish_type_id_33d44042_fk_restaurant_type_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_dish
    ADD CONSTRAINT restaurant_dish_type_id_33d44042_fk_restaurant_type_id FOREIGN KEY (type_id) REFERENCES public.restaurant_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_restaurant_dishes restaurant_restauran_dish_id_e17d3a2d_fk_restauran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_restaurant_dishes
    ADD CONSTRAINT restaurant_restauran_dish_id_e17d3a2d_fk_restauran FOREIGN KEY (dish_id) REFERENCES public.restaurant_dish(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_restaurant_drinks restaurant_restauran_drink_id_8f59c200_fk_restauran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_restaurant_drinks
    ADD CONSTRAINT restaurant_restauran_drink_id_8f59c200_fk_restauran FOREIGN KEY (drink_id) REFERENCES public.restaurant_drink(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_restaurant_drinks restaurant_restauran_restaurant_id_1071ccd1_fk_restauran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_restaurant_drinks
    ADD CONSTRAINT restaurant_restauran_restaurant_id_1071ccd1_fk_restauran FOREIGN KEY (restaurant_id) REFERENCES public.restaurant_restaurant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_restaurant_type restaurant_restauran_restaurant_id_8ded7e64_fk_restauran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_restaurant_type
    ADD CONSTRAINT restaurant_restauran_restaurant_id_8ded7e64_fk_restauran FOREIGN KEY (restaurant_id) REFERENCES public.restaurant_restaurant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_restaurant_dishes restaurant_restauran_restaurant_id_f1d24d0b_fk_restauran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_restaurant_dishes
    ADD CONSTRAINT restaurant_restauran_restaurant_id_f1d24d0b_fk_restauran FOREIGN KEY (restaurant_id) REFERENCES public.restaurant_restaurant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_restaurant_type restaurant_restauran_type_id_7a478c35_fk_restauran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_restaurant_type
    ADD CONSTRAINT restaurant_restauran_type_id_7a478c35_fk_restauran FOREIGN KEY (type_id) REFERENCES public.restaurant_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_restaurant restaurant_restaurant_owner_id_353b5692_fk_user_auth_person_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_restaurant
    ADD CONSTRAINT restaurant_restaurant_owner_id_353b5692_fk_user_auth_person_id FOREIGN KEY (owner_id) REFERENCES public.user_auth_person(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_review restaurant_review_person_id_3a94d99d_fk_user_auth_person_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_review
    ADD CONSTRAINT restaurant_review_person_id_3a94d99d_fk_user_auth_person_id FOREIGN KEY (person_id) REFERENCES public.user_auth_person(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_review restaurant_review_restaurant_id_17f6ac65_fk_restauran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_review
    ADD CONSTRAINT restaurant_review_restaurant_id_17f6ac65_fk_restauran FOREIGN KEY (restaurant_id) REFERENCES public.restaurant_restaurant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_table_dishes restaurant_table_dis_table_id_9fb89f4a_fk_restauran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_table_dishes
    ADD CONSTRAINT restaurant_table_dis_table_id_9fb89f4a_fk_restauran FOREIGN KEY (table_id) REFERENCES public.restaurant_table(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_table_dishes restaurant_table_dishes_dish_id_a68049d1_fk_restaurant_dish_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_table_dishes
    ADD CONSTRAINT restaurant_table_dishes_dish_id_a68049d1_fk_restaurant_dish_id FOREIGN KEY (dish_id) REFERENCES public.restaurant_dish(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_table_drinks restaurant_table_dri_drink_id_017067c6_fk_restauran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_table_drinks
    ADD CONSTRAINT restaurant_table_dri_drink_id_017067c6_fk_restauran FOREIGN KEY (drink_id) REFERENCES public.restaurant_drink(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_table_drinks restaurant_table_dri_table_id_05cdac61_fk_restauran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_table_drinks
    ADD CONSTRAINT restaurant_table_dri_table_id_05cdac61_fk_restauran FOREIGN KEY (table_id) REFERENCES public.restaurant_table(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_table restaurant_table_reserved_by_id_64652316_fk_user_auth_person_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_table
    ADD CONSTRAINT restaurant_table_reserved_by_id_64652316_fk_user_auth_person_id FOREIGN KEY (reserved_by_id) REFERENCES public.user_auth_person(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: restaurant_table restaurant_table_restaurant_id_191a0ef2_fk_restauran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_table
    ADD CONSTRAINT restaurant_table_restaurant_id_191a0ef2_fk_restauran FOREIGN KEY (restaurant_id) REFERENCES public.restaurant_restaurant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_auth_person user_auth_person_user_id_ff73f2e7_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_auth_person
    ADD CONSTRAINT user_auth_person_user_id_ff73f2e7_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

